In [63]:
import pandas as pd
import numpy as np
import re

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

/Users/fu/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (4,5,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/fu/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
pd.options.display.max_columns = 100

## 数据概览

In [52]:
train['current_service'] = train['current_service'].astype(str)

In [14]:
test

,service_type,is_mix_service,online_time,1_total_fee,2_total_fee,3_total_fee,4_total_fee,month_traffic,many_over_bill,contract_type,contract_time,is_promise_low_consume,net_service,pay_times,pay_num,last_month_traffic,local_trafffic_month,local_caller_time,service1_caller_time,service2_caller_time,gender,age,complaint_level,former_complaint_num,former_complaint_fee,user_id
0,4,0,193,80.00,80,80,80.00,872.042338,0,0,0,1,4,2,100.00,800.000000,594.585080,130.316667,8.050000,146.666667,1,60,0,0,0,iC37kmjDBqrctznl
1,1,0,5,86.70,74.2,57.1,68.90,200.000000,1,0,0,0,4,6,120.00,0.000000,0.000000,0.000000,104.483333,0.000000,1,22,0,0,0,jSf9GCWynNVFwOtQ
2,4,0,62,90.90,127.35,82.6,91.00,22927.945140,0,9,12,0,4,2,100.05,0.000000,22915.222530,202.916667,85.600000,165.733333,1,29,2,1,0,j5hsAm8YagTcRXiB
3,4,0,87,95.45,154.65,75.95,143.35,4793.146457,0,1,36,0,4,2,50.05,0.000000,4793.167977,66.083333,143.883333,131.783333,2,41,0,0,0,6EC1H9IjDYcGFP4v
4,4,0,53,76.00,86,76,76.00,563.253649,0,0,0,0,4,1,50.00,0.000000,0.000000,0.000000,0.000000,3.300000,2,30,0,0,0,a0utDgZkXvJ1oFOs
5,4,0,70,78.45,184.4,184.25,209.75,581.168876,0,9,12,0,4,1,0.05,0.000000,0.000000,0.000000,0.000000,61.566667,2,33,0,0,0,g20wiYlHF78SKZ1N
6,4,0,105,62.35,61,56.15,57.55,711.700167,0,3,12,1,4,3,60.00,72.944527,716.208478,181.233333,4.100000,383.666667,1,41,0,0,0,IxS9osZtEX5MFQ1W
7,1,0,64,66.30,64.3,47,60.30,1024.000000,1,0,0,0,4,2,60.00,0.000000,43201.546990,31.816667,74.283333,0.000000,1,25,0,0,0,2ylUZKFMijLGCHf8
8,4,0,56,169.01,203.3,218.2,206.10,2981.999936,1,3,12,1,4,2,200.00,0.000000,2423.668346,3.433333,0.000000,18.333333,1,31,0,0,0,RMOYTK81wxcXlkas
9,1,0,36,97.00,104.2,55.9,87.50,0.000000,1,0,0,0,4,1,100.00,0.000000,0.000000,0.000000,362.583333,142.550000,1,24,0,0,0,lHKM6eyNR2rBXh7i
10,4,0,11,80.00,120,110,50.00,1062.757553,1,12,11,0,4,1,50.00,0.000000,856.984855,8.250000,0.000000,8.250000,2,18,0,0,0,kFfxGQjJNBKYg6c3
11,1,0,65,48.50,50.1,48,30.70,0.000000,1,0,0,0,4,1,30.00,0.000000,5637.020245,2.633333,0.000000,2.633333,1,30,3,1,0,oFbreuPSEilx9zsC
12,1,0,5,45.50,26.19,19.96,24.95,0.000000,1,0,0,0,4,2,80.00,0.000000,40111.865510,10.483333,10.483333,0.000000,1,27,0,0,0,TyH896lOVXAEfQce
13,1,0,5,46.50,43.3,19.4,19.20,0.000000,1,0,0,0,4,1,100.00,0.000000,6387.440937,0.000000,0.000000,0.000000,1,42,0,0,0,qnW9PLw2O6TU8HMX
14,4,0,189,84.62,68.35,71.4,59.35,555.814514,0,3,12,0,4,1,0.05,704.280542,533.309108,266.016667,119.650000,155.150000,1,49,1,2,21000,tbfuoTKzEvgGY2BR
15,4,0,14,82.00,91.74,82,89.29,2433.729844,0,9,12,0,4,3,72.00,800.000000,2434.173646,14.916667,0.000000,14.916667,2,63,0,0,0,YVpWsqJPDw9bOmgv
16,1,0,39,51.40,51.2,47.1,48.40,0.000000,1,0,0,0,4,2,70.00,0.000000,22806.022950,7.866667,7.866667,0.000000,1,19,0,0,0,8A5QJmPtI6zqDVNT
17,4,1,107,56.14,56,56.2,56.00,112.575008,0,3,12,0,4,3,10.06,800.000000,112.575008,64.850000,0.000000,77.866667,1,35,0,0,0,pbPe6HzA0vCJnxwo
18,4,0,10,76.00,46,46.1,46.00,1122.298342,0,12,13,0,4,2,100.00,71.616023,0.000000,0.000000,0.000000,66.500000,1,24,0,0,0,7qH9pcSMyeKBXd6k
19,1,0,5,66.10,39.96,17.27,22.50,0.000000,1,0,0,0,4,2,80.00,0.000000,45129.711860,0.083333,0.083333,0.000000,1,18,0,0,0,gCGMVlOm48Tiv7WH
20,1,0,68,49.40,57.8,53.1,55.60,0.000000,1,0,0,0,4,1,100.00,0.000000,36665.815470,1.866667,5.400000,0.000000,1,24,1,1,0,TAUPq2cdIwGKRQkE
21,4,0,179,76.99,77.7,75.93,78.97,293.545525,0,1,24,0,4,4,154.00,800.000000,290.428914,140.050000,0.533333,148.250000,1,61,0,0,0,SnktGrQijLYpRV4D
22,1,0,134,46.00,57.1,69.8,73.20,0.000000,1,0,0,0,4,1,100.00,0.000000,835.531115,51.716667,54.200000,0.000000,2,37,1,1,0,OqxGwTFn0RjHWKcX
23,4,0,70,68.65,165.15,221.4,116.00,15990.689970,1,3,12,0,4,10,230.05,0.000000,15851.308040,82.850000,0.000000,119.166667,2,25,1,1,4000,wUkLX3OZI8amosHe
24,4,0,42,81.46,78.4,75.93,78.97,1149.008510,0,1,24,0,4,2,100.00,264.656508,718.978171,43.250000,33.766667,163.883333,2,28,0,0,0,vJT9KGN3lsrAzfRe
25,1,0,4,67.70,85.3,48.08,0.00,0.000000,1,0,0,0,4,1,50.00,0.000000,0.000000,0.000000,0.283333,0.000000,2,47,0,0,0,a8ke5ucvIB0VTpO3
26,1,0,4,53.90,25.99,26.75,10.43,0.000000,1,0,0,0,4,1,50.00,0.000000,11117.667360,0.366667,11.166667,0.366667,1,19,0,0,0,90nVG2H6imblahSy
27,1,0,5,59.10,63,61,67.60,0.000000,1,0,0,0,4,1,50.00,0.000000,41814.073340,9.566667,11.166667,0.133333,1,25,1,2,5000,2VUaAwQSMouypT5I
28,4,0,245,82.00,82.1,82.1,76.00,1354.578342,0,9,12,0,4,2,164.20,800.000000,560.699878,222.066667,0.000000,285.183333,1,64,0,0,0,RXq3JfGPncIuvixm
29,1,0,4,83.80,35.25,21.8,0.00,0.000000,1,0,0,0,4,3,90.00,0.000000,0.000000,0.000000,52.816667,0.000000,2,60,0,0,0,viqOJ7hjERK80Vcn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262535,4,0,64,61.10,61,61,83.30,889.123102,0,3,12,0,4,1,100.00,331.792124,475.948540,16.783333,0.000000,115.183333,2,32,0,0,0,OPDzqHyw9YoaIve3
262536,4,1,9,66.10,56,55.92,56.75,988.463358,0,3,12,0,4,2,18.80,112.620145,613.103407,3.350000,0.000000,58.133333,1,51,0,0,0,5af7rcoAKNgP1TIE
262537,4,0,86,95.93,117.82,90.6,79.15,994.616922,1,1,24,0,4,1,0.07,0.000000,994.627966,145.616667,0.000000,167.016667,2,40,0,0,0,5KzRgwOShUDV0rqM
262538,4,0,68,86.00,86,86,86.00,1132.647948,0,9,12,0,4,1,100.00,799.738248,0.000000,0.000000,0.000000,31.600000,1,42,0,0,0,U5oOmAkqihKuRCTs
262539,4,0,59,127.20,126,125.95,128.76,2190.522070,0,0,0,0,4,3,230.00,559.571265,1737.325934,7.033333,0.000000,68.100000,1,25,1,1,17520,ZxeSRO9wiT6oz2Ju
262540,4,0,64,84.65,99.4,97.15,83.80,2499.235810,0,3,12,1,4,1,100.00,800.000000,1198.279911,172.566667,58.900000,157.916667,2,46,0,0,0,bGoMY0Ft6LeR1nIB
262541,4,1,67,76.00,76,76,76.00,1282.929337,0,0,0,0,4,1,75.00,755.486964,1284.848399,12.966667,0.000000,14.766667,1,34,0,0,0,hgHfjbCaz4svNRVW
262542,4,0,96,56.00,56,56,56.00,733.886725,0,3,12,0,4,1,46.00,792.714416,735.717631,68.416667,0.000000,78.016667,1,43,0,0,0,CxvfaIwEd8M0AyPn
262543,4,0,64,69.95,70,70,56.45,1613.044746,0,3,12,1,4,3,50.05,800.000000,1613.110004,31.166667,0.000000,106.466667,1,46,0,0,0,RWbjzN6HBwuKF30d
262544,4,0,70,68.65,165.15,221.4,116.00,15990.689970,1,3,12,0,4,10,230.05,0.000000,15851.308040,82.850000,0.000000,119.166667,2,25,1,1,3000,jiacG6R7f9ZgSNEu
262545,4,0,77,76.00,76,76,76.00,1217.827829,0,9,12,0,4,1,200.00,255.030657,0.000000,0.000000,0.000000,104.033333,1,33,0,0,0,Vn0mLC19FRhU8Mp4
262546,4,0,52,63.90,62.15,66.25,116.00,1218.806542,0,3,12,0,4,2,50.00,402.119691,1218.840126,76.383333,19.700000,165.500000,2,36,0,0,0,vYN0MrdA4GjeUkDq
262547,4,0,66,76.00,76,76.1,76.10,717.371721,0,9,12,0,4,1,56.00,800.000000,717.441365,0.000000,0.000000,0.000000,2,34,0,0,0,zTkOFwoW2CirUIE3
262548,4,0,57,76.20,76.1,76.1,208.60,188.912106,0,9,12,0,4,1,100.00,800.000000,188.912107,37.500000,0.000000,81.966667,2,29,0,0,0,wK2NMWzYbPhvcl8q
262549,4,0,6,75.97,176.48,111.1,50.00,0.000000,0,12,7,1,4,1,0.03,0.000000,0.000000,0.000000,0.000000,0.000000,1,35,0,0,0,3X8VGNIFodrEmZxy
262550,4,0,19,78.86,76,76,75.95,0.000000,0,0,0,0,3,1,0.04,800.000000,0.000000,3.383333,16.166667,186.250000,2,45,0,0,0,sWgn5b92KRFG7kOt
262551,4,1,33,139.99,140,299.91,140.00,2173.537905,1,3,12,1,4,3,0.01,0.000000,1174.661377,3.700000,0.000000,79.866667,2,23,0,0,0,Fln9fdCIoAEJBxG4
262552,4,0,17,76.00,76,-0.03,123.83,41.744141,0,0,0,0,4,2,150.00,116.548163,0.000000,0.000000,0.000000,0.000000,2,21,0,0,0,rlOTBhipNnKFucRz
262553,4,0,93,80.00,80,80,90.80,372.827276,0,3,12,1,4,4,200.00,800.000000,373.768049,48.833333,0.000000,48.833333,1,37,0,0,0,ZumMDEkv9rAsLzwn
262554,4,0,42,74.16,72,72,66.00,1607.401657,0,3,12,0,4,2,130.00,800.000000,1264.508014,13.650000,0.000000,67.500000,2,33,0,0,0,tkbP5dyIhli28VKA
262555,4,0,47,76.00,76,76,76.00,988.409819,0,1,24,1,4,1,100.00,800.000000,669.866026,43.150000,0.000000,73.983333,2,29,0,0,0,el3Ri4kQC5gM8YyG
262556,4,0,107,68.45,92.6,46,92.05,533.476069,0,12,29,0,4,3,100.00,0.000000,536.935611,67.700000,129.000000,160.083333,1,50,0,0,0,LFPYhy6zgGMRjQXw
262557,4,0,22,75.96,84.74,76.05,76.00,908.410937,0,7,12,0,4,1,0.04,0.000000,908.544123,34.983333,0.000000,34.983333,2,45,0,0,0,xEo52q1PVOgpbhrz
262558,4,0,26,71.00,76,76.3,56.10,4273.654809,0,9,12,0,4,4,86.00,0.000000,4290.322477,24.216667,0.000000,26.083333,1,23,0,0,0,1GbKhoftzsV7ZJOc
262559,4,0,14,75.95,82.95,66,66.10,1350.747514,0,0,0,0,4,1,0.05,786.479724,670.910643,0.000000,0.000000,43.750000,2,19,0,0,0,yCwVKXP4hNOMuZxA
262560,4,0,74,71.45,77.05,50.3,57.05,808.967771,0,12,7,1,4,1,100.00,789.102882,0.000000,0.000000,139.533333,176.633333,2,49,0,0,0,QlJbMIdKgwLkV8Sa
262561,4,0,48,76.00,76,85.6,77.30,3354.583841,0,9,12,0,4,2,150.00,0.000000,3244.241068,2.366667,0.000000,28.100000,1,33,0,0,0,Q1uRYHzw73FtMsBc
262562,4,0,32,78.70,76,76,76.00,1308.425879,0,7,12,0,4,1,100.00,0.000000,0.000000,0.000000,0.000000,52.216667,2,28,0,0,0,cD7nNMS3HxRCIZgr
262563,4,0,132,76.00,76,77.05,76.00,613.911185,0,9,12,0,4,1,74.00,704.238003,0.000000,0.000000,0.000000,120.800000,2,40,0,0,0,J7aics4nFQ5Y0vCM
262564,4,1,77,76.00,76,166.61,87.03,3583.121865,0,9,12,0,4,1,300.00,446.283558,3217.487313,58.616667,0.000000,61.700000,1,28,0,0,0,QYy8trzvNR01TfLd

In [13]:
print(train.shape, test.shape)

(612652, 27) (262565, 26)

In [27]:
train.groupby('service_type').current_service.value_counts()

service_type  current_service
1             90063345           201245
              90109916            26685
              90155946            15477
3             99104722            36289
4             89950166            93252
              89950167            51440
              99999828            37146
              89016252            36379
              89950168            23316
              99999827            22753
              99999826            20393
              99999830            14840
              99999825            14323
              89016253            10019
              89016259             9095
Name: current_service, dtype: int64

In [28]:
test.service_type.value_counts()

4    142914
1    103945
3     15706
Name: service_type, dtype: int64

In [23]:
train_1 = train[train.service_type == 1]
train_3 = train[train.service_type == 3]
train_4 = train[train.service_type == 4]

test_1 = test[test.service_type == 1]
test_3 = test[test.service_type == 3]
test_4 = test[test.service_type == 4]

## 类型转换

In [78]:
train.dtypes.value_counts()

int64      11
float64    10
object      6
dtype: int64

In [55]:
train.select_dtypes('int').head()

,service_type,is_mix_service,online_time,many_over_bill,contract_type,contract_time,is_promise_low_consume,net_service,pay_times,complaint_level,former_complaint_num
0,4,0,85,0,1,36,0,4,2,0,0
1,1,0,10,1,0,0,0,4,3,0,0
2,1,0,12,0,0,0,0,4,4,0,0
3,4,0,134,0,0,0,0,4,1,0,0
4,4,0,84,0,1,24,0,4,12,2,1

In [56]:
train.select_dtypes('float').head()

,1_total_fee,4_total_fee,month_traffic,pay_num,last_month_traffic,local_trafffic_month,local_caller_time,service1_caller_time,service2_caller_time,former_complaint_fee
0,295.96,296.80,3813.614698,300.04,4096.000000,1392.038508,108.100000,0.000000,564.366667,0.0
1,265.20,174.50,0.000000,300.00,0.000000,62852.509718,240.100000,355.166667,0.000000,0.0
2,44.50,61.40,2598.397406,50.00,0.000000,1935.242104,27.666667,0.000000,98.416667,0.0
3,87.95,88.30,988.440563,100.00,37.336425,988.561075,89.900000,74.483333,121.833333,0.0
4,317.04,413.05,5885.800642,1000.03,3305.741127,0.000000,0.000000,35.100000,496.733333,0.0

In [79]:
train.select_dtypes('object').head()

  2_total_fee 3_total_fee gender age current_service           user_id
0       296.2         296      1  31        99999825  Gx4sJzcQog01UhZL
1       261.2       208.5      1  30        90063345  kEXrhTiug93DIcLG
2        70.2          69      2  25        90109916  AouXr0EOUtSRdiYK
3        81.4          76      1  44        89950166  Yds7U30hnRZDiLtb
4      314.08      435.51      1  31        99999825  OFDTSXrhN9Q2mbVw

In [91]:
train['gender'] = train['gender'].astype('|S80')

In [92]:
train['gender'].dtype

dtype('O')

In [60]:
train.gender.value_counts()

1     362371
2     168329
1      38201
2      17265
0      16416
01      5476
02      2729
0       1642
00       221
\N         2
Name: gender, dtype: int64

In [61]:
test.gender.value_counts()

1    174034
2     80729
0      7802
Name: gender, dtype: int64

In [77]:
train['gender'].replace('0','888').value_counts()

1      362371
2      168329
1       38201
2       17265
0       16416
01       5476
02       2729
888      1642
00        221
\N          2
Name: gender, dtype: int64

In [74]:
train['gender'].apply(lambda series: re.findall(r' ',series)[0])

TypeError: expected string or bytes-like object

In [59]:
train['age'] = train['age'].astype(int)

ValueError: invalid literal for int() with base 10: '\\N'

In [58]:
train[['2_total_fee','3_total_fee']] = train[['2_total_fee','3_total_fee']].astype(float)

ValueError: could not convert string to float: '\\N'

## NA及异常值

In [10]:
#train.isnull().any()
train[train.isnull().values==True]

Empty DataFrame
Columns: [service_type, is_mix_service, online_time, 1_total_fee, 2_total_fee, 3_total_fee, 4_total_fee, month_traffic, many_over_bill, contract_type, contract_time, is_promise_low_consume, net_service, pay_times, pay_num, last_month_traffic, local_trafffic_month, local_caller_time, service1_caller_time, service2_caller_time, gender, age, complaint_level, former_complaint_num, former_complaint_fee, current_service, user_id]
Index: []

[0 rows x 27 columns]

In [29]:
train.describe()

,service_type,is_mix_service,online_time,1_total_fee,4_total_fee,month_traffic,many_over_bill,contract_type,contract_time,is_promise_low_consume,net_service,pay_times,pay_num,last_month_traffic,local_trafffic_month,local_caller_time,service1_caller_time,service2_caller_time,complaint_level,former_complaint_num,former_complaint_fee,current_service
count,612652.000000,612652.000000,612652.000000,612652.000000,612652.000000,612652.000000,612652.000000,612652.000000,612652.000000,612652.000000,612652.000000,612652.000000,612652.000000,6.126520e+05,612652.000000,612652.000000,612652.000000,612652.000000,612652.000000,612652.000000,6.126520e+05,6.126520e+05
mean,2.748866,0.035844,42.831155,97.411841,102.870227,1159.336403,0.426857,1.491517,6.666537,0.066904,3.906786,1.908449,115.741906,2.097019e+04,5828.168153,59.027933,42.500022,84.484956,0.119214,0.139472,5.000682e+06,9.225261e+07
std,1.438612,0.185902,45.367953,89.426252,101.235433,2754.759625,0.494622,2.967203,9.935092,0.249856,0.394218,1.490023,192.292304,2.683409e+05,11296.442223,115.763426,110.368034,137.037867,0.380655,0.491302,2.798651e+09,4.218044e+06
min,1.000000,0.000000,1.000000,0.000000,-420.270000,0.000000,0.000000,0.000000,-1.000000,0.000000,2.000000,1.000000,0.010000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,8.901625e+07
25%,1.000000,0.000000,10.000000,46.200000,44.900000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,1.000000,40.000000,0.000000e+00,95.315849,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,8.995017e+07
50%,4.000000,0.000000,21.000000,72.630000,74.100000,139.220979,0.000000,0.000000,0.000000,0.000000,4.000000,1.000000,80.000000,0.000000e+00,1262.520067,14.066665,0.000000,29.150000,0.000000,0.000000,0.000000e+00,9.006334e+07
75%,4.000000,0.000000,64.000000,116.000000,129.200000,1311.389001,1.000000,1.000000,12.000000,0.000000,4.000000,2.000000,120.000000,4.450649e+02,5184.926331,67.516667,34.466667,123.966667,0.000000,0.000000,0.000000e+00,9.015595e+07
max,4.000000,1.000000,274.000000,5940.830000,5141.270000,159057.397788,1.000000,12.000000,52.000000,1.000000,9.000000,127.000000,55395.030000,2.716262e+07,484365.746313,6461.050000,5139.483333,16454.383333,3.000000,37.000000,1.762166e+12,9.999983e+07

无NA值
异常值包括
4_total_fee:neg num(欠费)
contract_time: -1