In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [65]:
train = pd.read_csv('../moblie_data/train_clean.csv')
test = pd.read_csv('../moblie_data/test_clean.csv')
train = train.iloc[:,1:]
test = test.iloc[:,1:]

In [33]:
pd.options.display.max_columns = 100

In [36]:
train_1 = train[train.service_type == 1]
train_4 = train[train.service_type == 4]
test_1 = test[test.service_type == 1]
test_4 = test[test.service_type == 4]

In [44]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 612652 entries, 0 to 612651
Data columns (total 27 columns):
service_type              612652 non-null int64
is_mix_service            612652 non-null int64
online_time               612652 non-null int64
1_total_fee               612652 non-null float64
2_total_fee               612648 non-null float64
3_total_fee               612651 non-null float64
4_total_fee               612652 non-null float64
month_traffic             612652 non-null float64
many_over_bill            612652 non-null int64
contract_type             612652 non-null int64
contract_time             611652 non-null float64
is_promise_low_consume    612652 non-null int64
net_service               612652 non-null int64
pay_times                 612652 non-null int64
pay_num                   612652 non-null float64
last_month_traffic        612652 non-null float64
local_trafffic_month      612652 non-null float64
local_caller_time         612652 non-null float64
service1_caller_time      612652 non-null float64
service2_caller_time      612652 non-null float64
gender                    612652 non-null int64
age                       594649 non-null float64
complaint_level           612652 non-null int64
former_complaint_num      612652 non-null int64
former_complaint_fee      612652 non-null float64
current_service           612652 non-null int64
user_id                   612652 non-null object
dtypes: float64(14), int64(12), object(1)
memory usage: 126.2+ MB

In [45]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262565 entries, 0 to 262564
Data columns (total 26 columns):
service_type              262565 non-null int64
is_mix_service            262565 non-null int64
online_time               262565 non-null int64
1_total_fee               262565 non-null float64
2_total_fee               262564 non-null float64
3_total_fee               262563 non-null float64
4_total_fee               262565 non-null float64
month_traffic             262565 non-null float64
many_over_bill            262565 non-null int64
contract_type             262565 non-null int64
contract_time             262120 non-null float64
is_promise_low_consume    262565 non-null int64
net_service               262565 non-null int64
pay_times                 262565 non-null int64
pay_num                   262565 non-null float64
last_month_traffic        262565 non-null float64
local_trafffic_month      262565 non-null float64
local_caller_time         262565 non-null float64
service1_caller_time      262565 non-null float64
service2_caller_time      262565 non-null float64
gender                    262565 non-null int64
age                       254921 non-null float64
complaint_level           262565 non-null int64
former_complaint_num      262565 non-null int64
former_complaint_fee      262565 non-null int64
user_id                   262565 non-null object
dtypes: float64(13), int64(12), object(1)
memory usage: 52.1+ MB

In [38]:
train_1.isna().any()

service_type              False
is_mix_service            False
online_time               False
1_total_fee               False
2_total_fee               False
3_total_fee               False
4_total_fee               False
month_traffic             False
many_over_bill            False
contract_type             False
contract_time             False
is_promise_low_consume    False
net_service               False
pay_times                 False
pay_num                   False
last_month_traffic        False
local_trafffic_month      False
local_caller_time         False
service1_caller_time      False
service2_caller_time      False
gender                    False
age                        True
complaint_level           False
former_complaint_num      False
former_complaint_fee      False
current_service           False
user_id                   False
dtype: bool

In [39]:
test_1.isna().any()

service_type              False
is_mix_service            False
online_time               False
1_total_fee               False
2_total_fee               False
3_total_fee                True
4_total_fee               False
month_traffic             False
many_over_bill            False
contract_type             False
contract_time             False
is_promise_low_consume    False
net_service               False
pay_times                 False
pay_num                   False
last_month_traffic        False
local_trafffic_month      False
local_caller_time         False
service1_caller_time      False
service2_caller_time      False
gender                    False
age                        True
complaint_level           False
former_complaint_num      False
former_complaint_fee      False
user_id                   False
dtype: bool

## total_fee处理

In [66]:
#训练集直接删掉
train = train[train['2_total_fee'].notna()]

In [67]:
train.shape

(612648, 27)

In [69]:
test[test[['2_total_fee','3_total_fee']].isna().values==True]

,service_type,is_mix_service,online_time,1_total_fee,2_total_fee,3_total_fee,4_total_fee,month_traffic,many_over_bill,contract_type,contract_time,is_promise_low_consume,net_service,pay_times,pay_num,last_month_traffic,local_trafffic_month,local_caller_time,service1_caller_time,service2_caller_time,gender,age,complaint_level,former_complaint_num,former_complaint_fee,user_id
131428,4,0,1,61.73,NaN,NaN,73.2,1027.356342,0,0,0.0,0,4,1,120.0,0.0,1027.40856,1.283333,1.283333,0.0,2,25.0,3,1,0,G2sq16HZSxYagKwL
131428,4,0,1,61.73,NaN,NaN,73.2,1027.356342,0,0,0.0,0,4,1,120.0,0.0,1027.40856,1.283333,1.283333,0.0,2,25.0,3,1,0,G2sq16HZSxYagKwL
170278,1,0,2,39.90,77.0,NaN,0.0,0.000000,0,0,0.0,0,4,1,30.0,0.0,0.00000,0.000000,6.833333,0.0,1,22.0,3,1,0,lVFau8U7twgrPSxL

In [ ]:
#test填0 or 注释掉先不管
#test[['2_total_fee','3_total_fee']]=test[['2_total_fee','3_total_fee']].fillna(0)

## contract_time -1（NA）处理
只有type4有缺失，大多数是828，用xgboost的结果预测就可以了

In [40]:
train.contract_time.value_counts()

0.0     386487
12.0    115781
24.0     72697
36.0     16395
10.0      3825
13.0      3169
30.0      2689
23.0      1345
11.0      1213
26.0      1202
15.0      1017
18.0      1015
8.0        991
7.0        740
34.0       676
35.0       546
16.0       406
19.0       318
17.0       257
25.0       246
20.0       184
6.0        101
29.0        67
27.0        66
21.0        44
33.0        39
31.0        32
9.0         27
14.0        21
28.0        15
32.0        13
22.0        11
45.0         3
39.0         3
48.0         3
50.0         2
52.0         2
5.0          2
37.0         1
40.0         1
Name: contract_time, dtype: int64

In [46]:
train_ct_na = train[train.contract_time.isna()]
train_ct_na.current_service.value_counts()

99999828    941
99999825     17
99999827     13
89950166     10
99999826      8
89950167      7
99999830      4
Name: current_service, dtype: int64

## age NA（0 or 99）处理
用rf预测

In [24]:
train.age.isna().value_counts()

False    594649
True      18003
Name: age, dtype: int64

In [8]:
test.age.isna().value_counts()

False    254921
True       7644
Name: age, dtype: int64

In [60]:
np.corrcoef([train_1[train_1.age.notna()].age,train_1[train_1.age.notna()].contract_time])

array([[1.        , 0.00113572],
       [0.00113572, 1.        ]])

In [72]:
train_test = train.append(test, sort=False)
age_notna = train_test[train_test.age.notna()]
age_na = train_test[train_test.age.isna()]
del train_test

In [79]:
age_notna.dropna(subset=['2_total_fee','3_total_fee'],inplace=True)

In [83]:
age_notna.drop(['contract_time','current_service', 'user_id','gender'],axis=1,inplace=True)
age_na.drop(['contract_time','current_service', 'user_id','gender','age'],axis=1,inplace=True)

In [85]:
age_notna.shape

(849564, 23)

In [86]:
age_na.shape

(25647, 22)

In [89]:
from sklearn import ensemble
from sklearn import model_selection
#from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor

def fill_missing_age(train, test):
    X_train = train.drop('age', axis=1)
    y_train = train['age']
    X_test = test
    
    rf_reg = RandomForestRegressor()
    rf_reg_param_grid = {'n_estimators': [200], 'max_depth': [5], 'random_state': [0]}
    rf_reg_grid = model_selection.GridSearchCV(rf_reg, rf_reg_param_grid, cv=3,
                                               n_jobs=25, verbose=2,
                                               scoring='neg_mean_squared_error')
    rf_reg_grid.fit(X_train, y_train)
    print('Age feature Best RF Params:' + str(rf_reg_grid.best_params_))
    print('Age feature Best RF Score:' + str(rf_reg_grid.best_score_))
    print('RF Train Error for "Age" Feature Regressor' + str(rf_reg_grid.score(X_train, y_train)))
    rf_age_test = rf_reg_grid.predict(X_test)
    
    return rf_age_test

In [90]:
age_test = fill_missing_age(age_notna, age_na)

Fitting 3 folds for each of 1 candidates, totalling 3 fits
[CV] max_depth=5, n_estimators=200, random_state=0 ...................
[CV] max_depth=5, n_estimators=200, random_state=0 ...................
[CV] max_depth=5, n_estimators=200, random_state=0 ...................
[CV] .... max_depth=5, n_estimators=200, random_state=0, total= 6.1min
[CV] .... max_depth=5, n_estimators=200, random_state=0, total= 6.1min
[CV] .... max_depth=5, n_estimators=200, random_state=0, total= 6.1min

[Parallel(n_jobs=25)]: Done   3 out of   3 | elapsed:  6.2min finished

Age feature Best RF Params:{'max_depth': 5, 'n_estimators': 200, 'random_state': 0}
Age feature Best RF Score:-77.20912951391811
RF Train Error for "Age" Feature Regressor-77.24508073823259

In [95]:
pd.DataFrame(age_test).to_csv('rf_age_test.csv')