In [1]:
import pandas as pd
import numpy as np
import featuretools as ft

In [15]:
pd.options.display.max_columns = 100

In [7]:
train= pd.read_csv('../moblie_data/train_clean.csv')
test = pd.read_csv('../moblie_data/test_clean.csv')
train = train.iloc[:,1:]
test = test.iloc[:,1:]

In [3]:
train['current_service'] = train['current_service'].astype(int).astype(str)
train['gender'] = train['gender'].astype(str)
test['gender'] = test['gender'].astype(str)
train[['contract_type','net_service','complaint_level']] = train[['contract_type','net_service','complaint_level']].astype(str)
test[['contract_type','net_service','complaint_level']] = test[['contract_type','net_service','complaint_level']].astype(str)

In [4]:
train_1 = train[train.service_type == 1].iloc[:,1:]
#train_3 = train[train.service_type == 3].iloc[:,1:]
train_4 = train[train.service_type == 4].iloc[:,1:]

test_1 = test[test.service_type == 1].iloc[:,1:]
#test_3 = test[test.service_type == 3].iloc[:,1:]
test_4 = test[test.service_type == 4].iloc[:,1:]

In [10]:
train.head()

,service_type,is_mix_service,online_time,1_total_fee,2_total_fee,3_total_fee,4_total_fee,month_traffic,many_over_bill,contract_type,...,local_caller_time,service1_caller_time,service2_caller_time,gender,age,complaint_level,former_complaint_num,former_complaint_fee,current_service,user_id
0,4,0,85,295.96,296.20,296.00,296.80,3813.614698,0,1,...,108.100000,0.000000,564.366667,1,31.0,0,0,0.0,99999825.0,Gx4sJzcQog01UhZL
1,1,0,10,265.20,261.20,208.50,174.50,0.000000,1,0,...,240.100000,355.166667,0.000000,1,30.0,0,0,0.0,90063345.0,kEXrhTiug93DIcLG
2,1,0,12,44.50,70.20,69.00,61.40,2598.397406,0,0,...,27.666667,0.000000,98.416667,2,25.0,0,0,0.0,90109916.0,AouXr0EOUtSRdiYK
3,4,0,134,87.95,81.40,76.00,88.30,988.440563,0,0,...,89.900000,74.483333,121.833333,1,44.0,0,0,0.0,89950166.0,Yds7U30hnRZDiLtb
4,4,0,84,317.04,314.08,435.51,413.05,5885.800642,0,1,...,0.000000,35.100000,496.733333,1,31.0,2,1,0.0,99999825.0,OFDTSXrhN9Q2mbVw

In [13]:
train.iloc[:,:-1].drop_duplicates().shape

(573965, 26)

In [9]:
train.shape

(612648, 27)